*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    border: 1px solid black;
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

ul {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
}

li{
    
    opacity: 0.5;
}

li:hover{
    text-decoration: underline;
    opacity: 1;
    cursor: pointer; 
}   

#konten{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 100px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    min-height: 100px;
    background-color: rgb(14, 14, 14);
    color: white;
}